body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  max-width: none;
}

.life {
  font-size: 1000%;
  text-align: center;
  color: white;
}

.lifeBar {
  text-align: center;
  position: center;
}

textarea {
  resize: none;
  position: center;
}
